<div class="container add-job-wrapper">
  <div class="mx-auto" style="width: 600px;">
    <h2>Welcome to the employer site</h2>
  </div>

  <hr>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="https://www.careercast.com/sites/default/files/2018-02/application-developer.jpg"
          class="d-block w-100" alt="...">
      </div>

    </div>
  </div>


  <div class="mx-auto" style="width: 350px;">
    <div class="account-hero container">
      <div>
        <h1>My Account</h1>
        <h3>View, update and delete any jobs you posted.</h3>
        

      </div>
      <div class="account-hero-image"></div>
    </div>

    <div class="job-board-wrapper">
      <div class="job-board container">
        <div id="job-card-mount"></div>
      </div>
    </div>
    <div class="account-buttons-wrapper container">
      <button class="delete btn  btn-lg"><a class="btn btn-primary btn-lg" href="addjob">Post New Job</a></button>
    </div>
    <br>

    {{!-- <div class="account-buttons-wrapper container">
      <button class="delete btn btn-danger btn-lg" id="clearData">Delete All Jobs</button>
    </div> --}}
    <br>
    <br>

  </div>


</div>