<h2>Welcome talent</h2>
{{!-- <a href="/account">My Account</a> --}}




 <main>
        <div class="hero container">
            <ol class="hero-list">
                <img src="https://readyforbrexit.co.uk/wp-content/uploads/2018/09/shortage-of-software-developers.jpg" alt="">
            </ol>   
        </div>
        
        <div class="container">
            <h1 id="job-count-wrapper"><span id="job-count">0</span> jobs in your area:</h1>
        </div>

        <div class="job-board-wrapper">
            <div class="job-board container">
                <div id="job-card-mount"></div>
            </div>
        </div>

       
    </main>




