{{!-- <a href="addjob">Post New Job</a> --}}


    <main>
        <div class="account-hero container">
            <div>
                <h1>My Account</h1>
                <p>View, update and delete any jobs you posted.</p>
                <p>You've posted <span id="job-count"></span> job(s).</p>
                
            </div>
            <div class="account-hero-image"></div>
        </div>
        
        <div class="job-board-wrapper">
            <div class="job-board container">
                <div id="job-card-mount"></div>
            </div>
        </div>
        <div class="account-buttons-wrapper container">
            <button class="delete btn btn-danger btn-lg"><a href="addjob">Post New Job</a></button>
        </div>
        <br>

        <div class="account-buttons-wrapper container">
            <button class="delete btn btn-danger btn-lg" id="clearData">Delete All Jobs</button>
        </div>

    </main>