<a href="guest">My Account</a>
<main>
    <div class="container add-job-wrapper">
        <div class="form-wrapper">
            <h1>Add New Job</h1>

            <form name="add-form">
                <div class="form-group">
                    <label for="name">Job Description</label>
                    <input type="text" name="name" id="name" class="form-control">
                </div>

                <div class="form-group">
                    <label for="location">Job Location</label>
                    <input type="text" name="location" id="location" class="form-control">
                </div>

                <div class="form-group">
                    <label for="duration">Expected Job Duration (whole hours only)</label>
                    <input type="number" name="duration" id="duration" class="form-control">
                </div>

                <div class="form-group">
                    <label for="cashAmount">Total Pay</label>
                    <input type="number" name="cashAmount" id="cashAmount" class="form-control">
                </div>

                <button type="reset" class="btn btn-secondary btn-lg">Reset</button>
                <button type="submit" class="btn btn-primary btn-lg">Add Job</button>
            </form>
        </div>
        <div class="form-hero"></div>
    </div>
</main>

<br>
<br>

<form name="add-form" action="javascript:void(0);" method="POST" onsubmit="app.Add()">
    <label for="name">Job Description</label>
    <input type="text" id="add-name" class="form-control" placeholder="job description">
    
    <input type="text" id="add-location" class="form-control" placeholder="job location">
    <label for="location">Job Location</label>
</form>



<form name="add-form" action="javascript:void(0);" method="POST" onsubmit="app.Add()">
    
    <input type="submit" value="Add">
</form>




<div id="spoiler" role="aria-hidden">
    <form action="javascript:void(0);" method="POST" id="saveEdit">
        <input type="text" id="edit-name">
        <input type="submit" value="Edit" /> <a onclick="CloseInput()" aria-label="Close">&#10006;</a>
    </form>
</div>

<p id="counter"></p>

<table>
    <tr>
        <th>Name</th>
    </tr>
    <tbody id="countries">
    </tbody>
</table>

<script>
    var app = new function () {

        this.el = document.getElementById('countries');

        this.countries = ['France', 'Germany', 'England', 'Spain', 'Belgium', 'Italy', 'Portugal', 'Irland', 'Luxembourg'];

        this.Count = function (data) {
            var el = document.getElementById('counter');
            var name = 'country';

            if (data) {
                if (data > 1) {
                    name = 'countries';
                }
                el.innerHTML = data + ' ' + name;
            } else {
                el.innerHTML = 'No ' + name;
            }
        };

        this.FetchAll = function () {
            var data = '';

            if (this.countries.length > 0) {
                for (i = 0; i < this.countries.length; i++) {
                    data += '<tr>';
                    data += '<td>' + this.countries[i] + '</td>';
                    data += '<td><button onclick="app.Edit(' + i + ')">Edit</button></td>';
                    data += '<td><button onclick="app.Delete(' + i + ')">Delete</button></td>';
                    data += '</tr>';
                }
            }

            this.Count(this.countries.length);
            return this.el.innerHTML = data;
        };

        this.Add = function () {
            el = document.getElementById('add-name');
            // Get the value
            var country = el.value;

            if (country) {
                // Add the new value
                this.countries.push(country.trim());
                // Reset input value
                el.value = '';
                // Dislay the new list
                this.FetchAll();
            }
        };

        this.Edit = function (item) {
            var el = document.getElementById('edit-name');
            // Display value in the field
            el.value = this.countries[item];
            // Display fields
            document.getElementById('spoiler').style.display = 'block';
            self = this;

            document.getElementById('saveEdit').onsubmit = function () {
                // Get value
                var country = el.value;

                if (country) {
                    // Edit value
                    self.countries.splice(item, 1, country.trim());
                    // Display the new list
                    self.FetchAll();
                    // Hide fields
                    CloseInput();
                }
            }
        };

        this.Delete = function (item) {
            // Delete the current row
            this.countries.splice(item, 1);
            // Display the new list
            this.FetchAll();
        };

    }

    app.FetchAll();

    function CloseInput() {
        document.getElementById('spoiler').style.display = 'none';
    }
</script>