<header>
  <nav class="navbar navbar-expand-md navbar-dark">
      <a class="navbar-brand" href="/index.html"><i class="fas fa-kiwi-bird"></i>HUSTLE JOBS</a>
      <!-- nav bar toggle button -->
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><i class="fas fa-bars"></i></button>
      <!-- nav bar menu collapsed -->
      <ul class="navbar-nav mr-auto">
        
        <li class="nav-item">
            <a href="/account">My Account</a>
        </li>
        
        <li class="nav-item">
            <a href="addjob">Post New Job</a>
        </li>
    </ul>
  </nav>

</header>


<main>
  <div class="container add-job-wrapper">
      <div class="form-wrapper">
          <h1>Update Job</h1>
  
          <form name="update-form">
              <div class="form-group">
                  <label for="name">Job Description</label>
                  <input type="text" name="name" id="name" class="form-control">
              </div>
  
              <div class="form-group">
                  <label for="location">Job Location</label>
                  <input type="text" name="location" id="location" class="form-control">
              </div>
  
              <div class="form-group">
                  <label for="duration">Expected Job Duration (whole hours only)</label>
                  <input type="number" name="duration" id="duration" class="form-control">
              </div>
  
              <div class="form-group">
                  <label for="cashAmount">Total Pay</label>
                  <input type="number" name="cashAmount" id="cashAmount" class="form-control">
              </div>
  
              <button type="reset" class="btn btn-secondary btn-lg">Reset</button>
              <button type="submit" class="btn btn-primary btn-lg">Update Job</button>
          </form>
      </div>
      <div class="form-hero"></div>
  </div>
</main>